<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://88.249.64.139/WSB2B/Service1.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service1Soap"
                contract="KaanGida.Service1Soap" name="Service1Soap" />
        </client>
    </system.serviceModel>
</configuration>