<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sultanlar.ClassLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://88.249.64.139/WSB2B/Service1.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service1Soap"
                contract="KaanGida.Service1Soap" name="Service1Soap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Sultanlar.ClassLib.Properties.Settings>
            <setting name="Sultanlar_ClassLib_Kaan_Service1" serializeAs="String">
                <value>http://88.249.64.139/WSB2B/Service1.asmx</value>
            </setting>
        </Sultanlar.ClassLib.Properties.Settings>
    </applicationSettings>
</configuration>