<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <bayikod>1001327</bayikod>
  <server>10.10.41.2</server>
  <database>DisVeri</database>
  <userid>rapor</userid>
  <password>rapor+-</password>
  <querySatis>SELECT [YIL],[AY],[FAT_NO],[FAT_TAR],[SAT_TEM],[CH_KOD],[IL],[ILCE][MAL_KOD],[URT_KOD],[MAL_ACIKLAMA],[ADET],[ANABIRIM],[NET_TOP],[KDV_TOP],[KDVDAHIL] FROM tbl_1001315_Satis</querySatis>
  <queryStok>SELECT * FROM tbl_1001315_Stok</queryStok>
  <yilad>YIL</yilad>
  <yil>2022</yil>
  <ayad>AY</ayad>
  <ay>3</ay>
</configuration>