<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpModules>
	  
    </httpModules>
    <httpHandlers>
	  
    </httpHandlers>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <bindings>
      <webHttpBinding>
        <binding receiveTimeout="00:10:00" sendTimeout="00:10:00" name="webHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding receiveTimeout="00:10:00" sendTimeout="00:10:00" name="basicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="wsSecureBinding">
          <security mode="None"> <!-- https ile TransportWithMessageCredential -->
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="Sultanlar.BayiServis.General" behaviorConfiguration="SultanlarBayiServisBehavior">
        <endpoint bindingConfiguration="webHttpBinding" address="/web" binding="webHttpBinding" contract="Sultanlar.BayiServis.IGeneral" behaviorConfiguration="webHttpBehavior" />
        <endpoint bindingConfiguration="basicHttpBinding" address="" binding="webHttpBinding" contract="Sultanlar.BayiServis.IGeneral" behaviorConfiguration="basicHttpBehavior" />
		<endpoint address="ws"
                  binding="wsHttpBinding" bindingConfiguration="wsSecureBinding"
                  contract="Sultanlar.BayiServis.IGeneral" name="wsSecureService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
        <behavior name="basicHttpBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SultanlarBayiServisBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
		  <serviceCredentials>
			<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Sultanlar.BayiServis.ServiceAuthenticator, Sultanlar.BayiServis"/>
		  </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
	  
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      
    </handlers>
  </system.webServer>
</configuration>